In [1]:
%pwd

'/Users/dattarij/Documents/AutoMLPipe-BC-main/TestData_CHD'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('CHOP_features_1104.txt', delim_whitespace=True)

In [4]:
df.shape

(810, 184527)

In [7]:
df.insert(1, "InstanceID", [i for i in range(len(df))])

In [8]:
result = df.isna().sum().sum()
print(result)

4401403

In [9]:
cells = 810*184527
naPerc = result/float(cells)
print(naPerc)

0.029447348432465336

In [10]:
df.head

<bound method NDFrame.head of      PHENOTYPE  InstanceID  rs3131972_A  rs6604966_C  rs9442373_C  \
0            1           0          0.0          1.0            1
1            1           1          0.0          0.0            0
2            1           2          0.0          0.0            1
3            1           3          0.0          0.0            0
4            1           4          1.0          0.0            1
..         ...         ...          ...          ...          ...
805          2         805          0.0          0.0            1
806          2         806          0.0          1.0            1
807          2         807          0.0          0.0            0
808          2         808          0.0          0.0            2
809          2         809          1.0          1.0            1

     rs9442380_T  rs4081334_G  rs2887286_C  rs111452679_A  rs11260577_C  ...  \
0              0          0.0            0            1.0           0.0  ...
1              0          0.0            0            0.0           0.0  ...
2              0          0.0            0            0.0           0.0  ...
3              0          0.0            1            1.0           0.0  ...
4              0          0.0            0            0.0           0.0  ...
..           ...          ...          ...            ...           ...  ...
805            0          0.0            0            0.0           0.0  ...
806            0          0.0            0            0.0           0.0  ...
807            0          0.0            0            0.0           0.0  ...
808            0          0.0            0            1.0           1.0  ...
809            1          1.0            1            0.0           1.0  ...

     rs5770807_C  rs78309468_A  rs134774_A  rs9628185_C  rs9616816_A  \
0            1.0           0.0         1.0          2.0            0
1            0.0           0.0         1.0          0.0            0
2            1.0           1.0         0.0          0.0            0
3            1.0           0.0         0.0          1.0            1
4            0.0           0.0         0.0          1.0            0
..           ...           ...         ...          ...          ...
805          1.0           0.0         0.0          1.0            2
806          1.0           0.0         0.0          1.0            1
807          1.0           0.0         1.0          0.0            0
808          2.0           0.0         0.0          NaN            1
809          1.0           0.0         0.0          0.0            0

     rs5770988_A  rs5770821_G  rs715586_T  rs756638_A  rs3810648_G
0            0.0          1.0           0           2            0
1            1.0          1.0           0           0            0
2            0.0          0.0           0           1            0
3            0.0          NaN           2           0            0
4            1.0          NaN           0           1            0
..           ...          ...         ...         ...          ...
805          0.0          2.0           1           0            0
806          0.0          1.0           0           1            1
807          NaN          1.0           0           0            0
808          0.0          NaN           2           0            0
809          0.0          2.0           0           0            0

[810 rows x 184528 columns]>

In [11]:
df2 = df.fillna(-1)
df2 = df2.astype(int)
df2 = df2.astype(str)
df2 = df2.replace('-1', np.nan)
df2.head

<bound method NDFrame.head of     PHENOTYPE InstanceID rs3131972_A rs6604966_C rs9442373_C rs9442380_T  \
0           1          0           0           1           1           0
1           1          1           0           0           0           0
2           1          2           0           0           1           0
3           1          3           0           0           0           0
4           1          4           1           0           1           0
..        ...        ...         ...         ...         ...         ...
805         2        805           0           0           1           0
806         2        806           0           1           1           0
807         2        807           0           0           0           0
808         2        808           0           0           2           0
809         2        809           1           1           1           1

    rs4081334_G rs2887286_C rs111452679_A rs11260577_C  ... rs5770807_C  \
0             0           0             1            0  ...           1
1             0           0             0            0  ...           0
2             0           0             0            0  ...           1
3             0           1             1            0  ...           1
4             0           0             0            0  ...           0
..          ...         ...           ...          ...  ...         ...
805           0           0             0            0  ...           1
806           0           0             0            0  ...           1
807           0           0             0            0  ...           1
808           0           0             1            1  ...           2
809           1           1             0            1  ...           1

    rs78309468_A rs134774_A rs9628185_C rs9616816_A rs5770988_A rs5770821_G  \
0              0          1           2           0           0           1
1              0          1           0           0           1           1
2              1          0           0           0           0           0
3              0          0           1           1           0         NaN
4              0          0           1           0           1         NaN
..           ...        ...         ...         ...         ...         ...
805            0          0           1           2           0           2
806            0          0           1           1           0           1
807            0          1           0           0         NaN           1
808            0          0         NaN           1           0         NaN
809            0          0           0           0           0           2

    rs715586_T rs756638_A rs3810648_G
0            0          2           0
1            0          0           0
2            0          1           0
3            2          0           0
4            0          1           0
..         ...        ...         ...
805          1          0           0
806          0          1           1
807          0          0           0
808          2          0           0
809          0          0           0

[810 rows x 184528 columns]>

In [23]:
df2.rename(columns={"PHENOTYPE": "Class"}, inplace=True)
df2.head

<bound method NDFrame.head of     Class  InstanceID rs3131972_A rs6604966_C rs9442373_C rs9442380_T  \
0       1           0           0           1           1           0
1       1           1           0           0           0           0
2       1           2           0           0           1           0
3       1           3           0           0           0           0
4       1           4           1           0           1           0
..    ...         ...         ...         ...         ...         ...
805     2         805           0           0           1           0
806     2         806           0           1           1           0
807     2         807           0           0           0           0
808     2         808           0           0           2           0
809     2         809           1           1           1           1

    rs4081334_G rs2887286_C rs111452679_A rs11260577_C  ... rs5770807_C  \
0             0           0             1            0  ...           1
1             0           0             0            0  ...           0
2             0           0             0            0  ...           1
3             0           1             1            0  ...           1
4             0           0             0            0  ...           0
..          ...         ...           ...          ...  ...         ...
805           0           0             0            0  ...           1
806           0           0             0            0  ...           1
807           0           0             0            0  ...           1
808           0           0             1            1  ...           2
809           1           1             0            1  ...           1

    rs78309468_A rs134774_A rs9628185_C rs9616816_A rs5770988_A rs5770821_G  \
0              0          1           2           0           0           1
1              0          1           0           0           1           1
2              1          0           0           0           0           0
3              0          0           1           1           0         NaN
4              0          0           1           0           1         NaN
..           ...        ...         ...         ...         ...         ...
805            0          0           1           2           0           2
806            0          0           1           1           0           1
807            0          1           0           0         NaN           1
808            0          0         NaN           1           0         NaN
809            0          0           0           0           0           2

    rs715586_T rs756638_A rs3810648_G
0            0          2           0
1            0          0           0
2            0          1           0
3            2          0           0
4            0          1           0
..         ...        ...         ...
805          1          0           0
806          0          1           1
807          0          0           0
808          2          0           0
809          0          0           0

[810 rows x 184528 columns]>

In [13]:
df2.to_csv('CHOP_features_1104_PHENOTYPE.txt', sep='\t', index=False)